@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("EB Garamond"), local("EB Garamond Medium"),
    local("EBGaramondMedium"), local("EB-Garamond-Medium"),
    local("ebgaramondmedium"), url(./ebgaramondmedium.woff2) format("woff2"),
    url(./ebgaramondmedium.woff) format("wooff"),
    url(./ebgaramondmedium.ttf) format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("EB Garamond"), local("EB Garamond Regular"),
    local("EBGaramondRegular"), local("EB-Garamond-Regular"),
    local("ebgaramondregular"), url(./ebgaramondregular.woff2) format("woff2"),
    url(./ebgaramondregular.woff) format("wooff"),
    url(./ebgaramondregular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), local("Inter Regular"), local("InterRegular"),
    local("Inter-Regular"), local("interregular"),
    url(./interregular.woff2) format("woff2"),
    url(./interregular.woff) format("wooff"),
    url(./interregular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("Inter"), local("Inter Bold"), local("InterBold"),
    local("Inter-Bold"), local("interbold"),
    url(./interbold.woff2) format("woff2"),
    url(./interbold.woff) format("wooff"),
    url(./interbold.ttf) format("truetype");
}
